<main>
    <div class="ag-box">
        <h3 class="ag-box__title">
            My Courses
        </h3>
        <div class="ag-box__content" style="margin: 16px 0;">
            <div class="ag-loading">
                <app-ag-course-card *ngFor="let course of courses" 
                                [title]="course.title" 
                                [subtitle]="course.subtitle" 
                                [img]="course.img" 
                                [oldPrice]="course.oldPrice"
                                [price]="course.price"
                                [rating]="course.rating"></app-ag-course-card>
            </div>
            <div>
                <a routerLink="/courses">
                    View All Courses
                </a>
            </div>
        </div>
    </div>
</main>