<header class="ag-header">
    <a href="/" class="ag-header__logo">
        Agnis
    </a>
    <nav class="ag-header__nav">
        <ul>
            <li *ngFor="let link of links">
                <a [routerLink]="link.link">
                    {{link.text}}
                </a>
            </li>
        </ul>
    </nav>
    <button class="ag-header__notifications ag-header__notifications--active" aria-label="Notifications" title="Notifications">
        <i class="material-icons-round" aria-hidden="true">notifications</i>
    </button>
    <button class="ag-header__account">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQH3IdNkmuru3w/profile-displayphoto-shrink_100_100/0?e=1590019200&v=beta&t=ND1UpdHkz0T1CQqxDnGezZmyoC9uQxBGwg-wLJvFqVE" />
    </button>
</header>