<aside class="ag-sidebar">
    <nav class="ag-sidebar__nav">
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="ag-sidebar__nav__a--active" [routerLinkActiveOptions]="{exact:
                    true}" class="ag-sidebar__nav__a">
                    <i class="material-icons-round" aria-hidden="true">home</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/opportunities" routerLinkActive="ag-sidebar__nav__a--active" [routerLinkActiveOptions]="{exact:
                    true}" class="ag-sidebar__nav__a">
                    <i class="material-icons-round" aria-hidden="true">work</i>
                    <span>Find an Opportunity</span>
                </a>
            </li>
            <li>
                <a routerLink="/courses" routerLinkActive="ag-sidebar__nav__a--active" [routerLinkActiveOptions]="{exact:
                    true}" class="ag-sidebar__nav__a">
                    <i class="material-icons-round" aria-hidden="true">class</i>
                    <span>My Courses</span>
                </a>
            </li>
            <li>
                <a routerLink="/rankings" routerLinkActive="ag-sidebar__nav__a--active" [routerLinkActiveOptions]="{exact:
                    true}" class="ag-sidebar__nav__a">
                    <i class="material-icons-round" aria-hidden="true">format_list_bulleted</i>
                    <span>My Rankings</span>
                </a>
            </li>
            <li>
                <a routerLink="/applications" routerLinkActive="ag-sidebar__nav__a--active" [routerLinkActiveOptions]="{exact:
                    true}" class="ag-sidebar__nav__a">
                    <i class="material-icons-round" aria-hidden="true">folder</i>
                    <span>My Applications</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>