@import 'https://fonts.googleapis.com/css?family=Material+Icons+Round|Caveat|Poppins:400,500,600,700&display=swap';

$primary: rgb(144, 60, 255);

body,input,textarea,select,option,button {
    font-family: "Poppins", sans-serif;
}

body {
    color: rgb(66, 66, 66);
    font-size:14px;
    line-height:1.5em;
    vertical-align:middle;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:500;
    margin:0;
}

.ag-loading {
    &:empty {
        &:before {
            content: "";
            width:50px;
            height:50px;
            margin: 0 auto;
            display:block;
            border-radius:100%;            
            border: 8px solid $primary;
            border-bottom-color: transparent;
            animation: spin linear 1.5s infinite;
        }
    }
}

.flex-grow-1 {
    flex-grow: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body{
    margin:0;
    background:#f7f7f7;
}

p {
    margin:0;
}

.d-flex {
    display:flex;
}

.justify-content-between {
    justify-content:space-between;
}

.align-items-center {
    align-items:center;
}

button {
    background:none;
    padding:0;
    border:none;
}
